[Unit]
Description=Metabase container
After=docker.service
BindsTo=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a metabase
ExecStop=/usr/bin/docker stop -t 2 metabase

[Install]
WantedBy=default.target
