[Unit]
Description=SCAN Switchboard
After=network.target

[Service]
WorkingDirectory=/opt/scan-switchboard
User=nobody
ExecStart=/opt/scan-switchboard/bin/venv-run ./bin/serve --setting base_url /switchboard/
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
